<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
 
    <title>BlogApp using MEAN stack</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
 
    <link href="justified-nav.css" rel="stylesheet">
 
</head>
 
<body ng-controller="authCtrl">
 
    <div class="container">
        <div class="jumbotron" style="padding-bottom:0px;">
            <h2 style="text-align:center">BlogApp using MEAN stack</h2>
        </div>
        <form class="form-signin" role="form">
            <input ng-model="user.email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
            <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="">
            <label class="checkbox">
                <a href="#"> Sign Up</>
        </label>
        <button class="btn btn-lg btn-primary btn-block" ng-click="login($event)">Sign in</button>
      </form>
		<p ng-show="resp">{{resp}}</p>
    </div>
 
   
 
</body></html>