<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BlogApp using MEAN stack</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
   <link rel='stylesheet' href='bower_components/textAngular/dist/textAngular.css'>
    <link rel='stylesheet' href='bower_components/font-awesome/css/font-awesome.min.css'>
    <link rel='stylesheet' href='bower_components/angular-material/angular-material.min.css'>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93147937-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body ng-controller="appCtrl">
			<!-- Nav bar for the application... later will be placed inside a seperate html page to include in index file-->
	 <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MadOverWords</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-if="!isLogged">
          <ul class="nav navbar-nav navbar-right">
		  <!-- modal for login button-->
		  <div class="modal-div" ng-controller="loginCtrl">
			<script type="text/ng-template" id="myModalContent.html">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form name="login-form">
					<input ng-model="user.email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
					<input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="">
					<input type="button" name="login" id="login-button" class="login loginmodal-submit" ng-click="login($event)" value="Login">
				  </form>

				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
			  </div>
			</script>
				<li><a ng-click="open()">Sign in</a></li>
			</div>
          <!-- modal for login button-->

			<div class="modal-div" ng-controller="registerCtrl">
			<script type="text/ng-template" id="myRegisterModalContent.html">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form name="register-form">
					<input ng-model="user.firstName" type="text" class="form-control" placeholder="FirstName" required="" autofocus="">
					<input ng-model="user.lastName" type="text" class="form-control" placeholder="LastName" required="">
					<input ng-model="user.email" type="email" class="form-control" placeholder="Email Address" required="">
					<input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="">
					<input ng-model="user.phone" type="number" class="form-control" placeholder="Mobile Number" required="">
					<input type="button" name="login" class="register loginmodal-submit" ng-click="register($event)" value="Register">
				  </form>
					<span>{{message}}</span><span ng-if="message" ng-click="openLoginModal($event)"> click here to login</span>
				  <div class="login-help">
					Already a member ?<span ng-click="openLoginModal($event)">Login here</span>
				  </div>
			  </div>
			</script>
				<li><a ng-click="openRegisterModal()">Register</a></li>
			</div>
          </ul>
        </div><!--/.nav-collapse -->
		<!-- This will display when a user is logged in -->
		 <div id="navbar" class="navbar-collapse collapse" ng-if="isLogged">
          <ul class="nav navbar-nav navbar-right">
			<li><a href="#!/writepost" target="_self" class="write-article">Write Article</a></li>
            <li>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle img-dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<img class="img-circle float-left" src="http://placehold.it/35x35">
					<span class="caret"></span>
					</button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-controller="logoutCtrl">
						<li><a href="#!/profile" target="_self" <span class="username-span">{{user.username}}</span></a></li>
						<li role="separator" class="divider"></li>
						<li><a ng-click="logout($event)">logout</a></li>
					  </ul>
					</div>

			</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	<!--nav bar ends -->
<!--code for login modal -->
	<!--sub nav bar starts -->
	<nav class="navbar navbar-default sub-navbar-bar">
      <div class="container">
        <div id="sub-navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav sub-navbar-nav">
            <li><a href="#!/home" style="padding-left:0;">Home</a></li>
           <li><a href="#!/trending">Trending</a></li>
			<li><a href="#!/topten">Top Ten</a></li>
            <li><a href="#!/comingsoon">Technology<span class="sr-only">(current)</span></a></li>
			<li><a href="#!/comingsoon">Education</a></li>
            <li><a href="#!/comingsoon">Nature<span class="sr-only">(current)</span></a></li>
			<li><a href="#!/comingsoon">Culture</a></li>
            <li><a href="#!/comingsoon">Entertainment<span class="sr-only">(current)</span></a></li>
			<li><a href="#!/comingsoon">Gaming<span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  <div ng-view></div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src='bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
<script src='bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
<script src='bower_components/textAngular/dist/textAngular.min.js'></script>

<script src='bower_components/angular-material/angular-material.min.js'></script>
<script src='bower_components/angular-aria/angular-aria.min.js'></script>
<script src='bower_components/angular-animate/angular-animate.min.js'></script>
<script src='bower_components/angaular-messages/angular-messages.min.js'></script>


  
  
  <script src="app.js"></script>
  <script src="home/home.js"></script>
  <script src="pages/readpost.js"></script>
  <script src="pages/writepost.js"></script>
  <script src="pages/comingsoon.js"></script>
  <script src="pages/editpost.js"></script>
  <script src="pages/profile.js"></script>
  <script src="pages/validateuser.js"></script>
  <script src="pages/trending.js"></script>
  <script src="pages/topten.js"></script>

</body>
</html>
