<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Coming Soon</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../justified-nav.css" rel="stylesheet">
	<link href="pages/comingsoon.css" rel="stylesheet">
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93147937-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body ng-controller="comingSoonCtrl">

		<!-- Nav bar for the application... later will be placed inside a seperate html page to include in index file-->
	 <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BlogApp</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-if="!isLogged">
          <ul class="nav navbar-nav navbar-right">
		  <!-- modal for login button-->
		  <div class="modal-div" ng-controller="loginCtrl">
			<script type="text/ng-template" id="myModalContent.html">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form name="login-form">
					<input ng-model="user.email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
					<input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="">
					<input type="button" name="login" id="login-button" class="login loginmodal-submit" ng-click="login($event)" value="Login">
				  </form>

				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
			  </div>
			</script>
				<li><a ng-click="open()">Sign in</a></li>
			</div>
          <!-- modal for login button-->

			<div class="modal-div" ng-controller="registerCtrl">
			<script type="text/ng-template" id="myRegisterModalContent.html">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form name="register-form">
					<input ng-model="user.firstName" type="text" class="form-control" placeholder="FirstName" required="" autofocus="">
					<input ng-model="user.lastName" type="text" class="form-control" placeholder="LastName" required="">
					<input ng-model="user.email" type="email" class="form-control" placeholder="Email Address" required="">
					<input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="">
					<input ng-model="user.phone" type="number" class="form-control" placeholder="Mobile Number" required="">
					<input type="button" name="login" class="register loginmodal-submit" ng-click="register($event)" value="Register">
				  </form>
					<span>{{message}}</span><span ng-if="message" ng-click="openLoginModal($event)"> click here to login</span>
				  <div class="login-help">
					Already a member ?<span ng-click="openLoginModal($event)">Login here</span>
				  </div>
			  </div>
			</script>
				<li><a ng-click="openRegisterModal()">Register</a></li>
			</div>
          </ul>
        </div><!--/.nav-collapse -->
		<!-- This will display when a user is logged in -->
		 <div id="navbar" class="navbar-collapse collapse" ng-if="isLogged">
          <ul class="nav navbar-nav navbar-right">
			<li><a href="#/writeNewPost" target="_self" class="write-article">Write Article</a></li>
            <li>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle img-dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<img class="img-circle float-left" src="http://placehold.it/35x35">
					<span class="caret"></span>
					</button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-controller="logoutCtrl">
						<li><span class="username-span">{{user.username}}</span></li>
						<li role="separator" class="divider"></li>
						<li><a ng-click="logout($event)">logout</a></li>
					  </ul>
					</div>

			</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	<!--nav bar ends -->
<!--code for login modal -->
	<!--sub nav bar starts -->
	<nav class="navbar navbar-default sub-navbar-bar">
      <div class="container">
        <div id="sub-navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav sub-navbar-nav">
            <li><a href="#/home" style="padding-left:0;">Home</a></li>
            <li><a href="#/yetToCome">Top Ten</a></li>
			<li><a href="#/yetToCome">Most Liked</a></li>
            <li><a href="#/yetToCome">Technology<span class="sr-only">(current)</span></a></li>
			<li><a href="#/yetToCome">Education</a></li>
            <li><a href="#/yetToCome">Nature<span class="sr-only">(current)</span></a></li>
			<li><a href="#/yetToCome">Culture</a></li>
            <li><a href="#/yetToCome">Entertainment<span class="sr-only">(current)</span></a></li>
			<li><a href="#/yetToCome">Gaming<span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	<div class="container-fluid">
		<div class="div-container">
			<h1>Coming soon</h1>
			<h4>This page is empty...Really! checkout the other cool stuff on the site.</h4>
		</div>
	</div>
	<div>

	</div>

</body>
</html>
