<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Edit Post</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../justified-nav.css" rel="stylesheet">
	<link href="pages/editpost.css" rel="stylesheet">
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93147937-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body ng-controller="editPostCtrl">

	<div class="container">
	<div class="posts-container">
		<div class="left-container-div col-md-12" ng-controller="editPostCtrl">
			<div class="fixed-height-box-2 col-md-12">
				<div class="post-div-demo" ng-show="htmlVariable || editpost.title || editpost.description">
					<div class="post-title-demo">
						<h1>{{editpost.title}}</h1>
						<span><span style="color:black">by</span> {{user.username}}</span><span style="color: #777;"> . {{datenow | date:'medium'}}</span>
						<h4>{{editpost.description}}</h4>
					</div>
				</div>
				<div class="write-post">
					 <form name="post-form">
						<input ng-model="editpost.title" type="text" class="form-control" placeholder="Title " required="" autofocus="">
						<input ng-model="editpost.description" type="text" class="form-control" placeholder="Description " required="">
						<div text-angular ng-model="editpost.content" name="post-content"></div>
						<div class="input-tag-text">
							<div class="input-tags float-left" ng-repeat="posttag in editpost.tags">
								<span class="tag" >{{posttag}}</span>
								<span class="close-btn" ng-click="deleteTag(posttag)">&times;</span>
							</div>
							<div style="display:none">{{tag}}</div>
							<input ng-model="tag" type="text" class="form-control float-left" ng-change="createTags()" ng-keypress="createTagsOnKeyPress($event)"placeholder="tags">
						</div>
						<div class="clear-fix"></div>
						<input type="button" name="submit-comment" class="submit-comment btn btn-primary" ng-click="submitPost($event)" value="Submit">
						<div class="clear-fix"></div>
				  </form>
				 
				</div>
			</div>
			</div>
		</div>
  </div>
	<div>

	</div>

</body>
</html>
