<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Profile</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../justified-nav.css" rel="stylesheet">
	<link href="pages/profile.css" rel="stylesheet">
    
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93147937-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body ng-controller="profileCtrl">

	
	<div class="container">
	   <div class="profile-container">
	       <div class="row top-row">
                <div class="col-md-6">
                    <img class="img-circle float-left" src="http://placehold.it/50x50">
                </div>
                <div class="col-md-6">
                    <h3>{{user.username}}</h3>
                    <p>{{user.email}}</p>
                    <p>{{user.phone}}</p>
                </div>
           </div>
           <div class="row middle-row">
                <div class="col-md-12">
                    <h2>Your Posts</h2>
                    <div class="post-container">
                        <div class="post-div" ng-repeat="(key,value) in posts" >
                            <div class="post-div-header"><h3 class="float-left">{{value.title}}</h3><span class="float-right action-btns"><i class="fa fa-edit" ng-click="editPost(value._id)"></i><i class="fa fa-times" ng-click="showConfirm($event,value._id,key)"></i></span>
                            <div class="clear-fix"></div>
                            </div>
                            <span><span style="color:black">by</span> {{value.author}}</span><span style="color: #777;"> . {{value.createdTime | date:'medium'}}</span><br/>
                            <br/>
                            <p class="post-desc">{{value.description}}</p>
                            <p><i>read more . . .</i></p>
                            <div class="post-details">
                                <div class="tag-div float-left">
                                    <ul>
                                        <li ng-repeat="tag in value.tags">{{tag}}</li>
                                    </ul>
                                </div>
                                <div class="clear-fix"></div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
	   </div>
    </div>

   

</body>

</html>
