<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Read Post</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../justified-nav.css" rel="stylesheet">
	<link href="pages/readpost.css" rel="stylesheet">
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93147937-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body ng-controller="readPostCtrl">

	
	<div class="container">
	<div class="posts-container">
		<div class="left-container-div col-md-12" ng-controller="readPostCtrl">
			<div class="post-div">
				<div class="post-title-demo">
						<h1>{{readpost.title}}</h1>
						<span><span style="color:black">by</span> {{readpost.author}}</span><span style="color: #777;"> . {{datenow | date:'medium'}}</span>
						<h4>{{readpost.description}}</h4>
					</div>
				<div ta-bind ng-model="readpost.content"></div>
				<div class="post-details">
					<div class="tag-div float-left">
						<ul>
							<li ng-repeat="tag in readpost.tags">{{tag}}</li>
						</ul>
					</div>
					<div class="like-button float-right">
						<span class="like-span" ng-click="likePost(readpost._id)"><i class="fa fa-heart-o fa-lg" ng-show="!hasUserLikedPost"></i><i class="fa fa-heart fa-lg" ng-show="hasUserLikedPost"></i></span><span>{{readpost.likes}}</span>
					</div>
					<div class="clear-fix"></div>
				</div>
			</div>
			<div class="fixed-height-box col-md-12">
				<h3>Related Posts</h3>
				<div class="related-posts col-md-3">
				</div>
				<div class="related-posts col-md-3">
				</div>
				<div class="related-posts col-md-3">
				</div>
			</div>
			<div class="fixed-height-box-2 col-md-12">
				<h3>Comments</h3>
				<div class="write-comment">
					 <form name="comment-form">
						<textarea ng-model="commentVar.comment" ng-focus="commentVar.commentBy = user.username" placeholder="write your comment"></textarea><br>
						<input type="hidden" ng-model="commentVar.commentBy" value="{{user.username}}" ng-init="commentVar.commentBy=user.username"/>
						<input type="button" name="submit-comment" class="submit-comment btn btn-primary" ng-click="submitComment(readpost._id)" value="Submit">
						<div class="clear-fix"></div>
				  </form>
				  <div class="comment-div-demo" ng-show="commentVar.comment">
					<div class="comment-author-details">
						<img class="img-circle float-left" src="http://placehold.it/50x50">
						<p>{{commentVar.commentBy}}</p>
					</div>
					<p class="comment-content">{{commentVar.comment}}</p>
					<div class="post-details">
						<div class="comment-time float-left">
							<ul>
								<li>{{datenow | date:'medium'}}</li>
							</ul>
						</div>
						<div class="like-button float-right">
							<span class="like-span" ng-click="likeComment(comment._id)">Like</span><p>{{0}}</p>
						</div>
						<div class="clear-fix"></div>
					</div>
				</div>
				</div>
				
				<div class="comment-div" ng-repeat="comment in readpost.comments | orderBy : '-time'">
					<div class="comment-author-details">
						<img class="img-circle float-left" src="http://placehold.it/50x50">
						<p>{{comment.commentBy}}</p>
					</div>
					<p class="comment-content">{{comment.comment}}</p>
					<div class="post-details">
						<div class="comment-time float-left">
							<ul>
								<li>{{comment.time | date:'medium'}}</li>
							</ul>
						</div>
						<div class="like-button float-right">
							<span class="comment-like-span" ng-click="likeComment(comment._id)"><i class="fa fa-heart-o fa-lg"></i><i class="fa fa-heart fa-lg" ></i></span><span>{{comment.likes}}</span>
						</div>
						<div class="clear-fix"></div>
					</div>
				</div>
			</div>
		</div>
  </div>
	<div>

	</div>


</body>
</html>
